.search
{
float:left;
position:fixed;
z-index:3;
width:650px;
}

.header
{
	background-color:#ffffff;
	height:60px;
	width:100%;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 2;
}

.page
{
	width:960px;
	margin:auto;
	float:left;
}

.clear
{
	clear:both;
}

.page2
{
	width:1000px;
	margin:auto;
}

.header_container
{
    background-color: #8a97980d;
	height:90px;
	width:100%;    
}

.youtube_logo
{
    background-color: #8a97980d;
}

.youtube_search
{
    background-color: #8a97980d;
}



.youtube_body
{
    background-color: #8a97980d;
}

.youtube_menu
{
    background-color: #4840401a;
}

.menu_item
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu_icon
{
    
}

.menu_text
{
font-size: 14px;
color: black;
text-decoration:none;
}

.popular
{
font-size: 15px;
}


.youtubevideo
{
float: left;
padding-right: 3px;
padding-bottom: 10px;	
padding-top: 7px;
}

.title
{
font-size: 15px;
color:rgb(70, 70, 65);
}

.author
{
font-size: 12px;
color: rgb(118, 126, 123);	
}

.searchbox
{
	padding-bottom: 5px;	
	padding-top: 5px;
	padding-left: 90px;
	position: fixed;
}