.search
{
float:left;
position:fixed;
z-index:3;
width:650px;
}

.header
{
	background-color:#ffffff;
	height:60px;
	width:100%;
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 2;
}

.page
{
	width:960px;
	margin:auto;
	float:left;
}

.clear
{
	clear:both;
}

.page2
{
	width:1000px;
	margin:auto;
}

